REACT_APP_RAPID_API_URL = "https://judge0-ce.p.rapidapi.com/submissions"
REACT_APP_RAPID_API_HOST = "judge0-ce.p.rapidapi.com"
REACT_APP_RAPID_API_KEY = "fbe7df1e99msh10f296f62348e88p18ba83jsn4f2f578fb950"